set_current_temp_compensation:
  name: Set Current Temperature Compensation
  description: Change the compensation for current temperature mesurement
  target:
    entity:
      integration: windhager
      domain: climate
  fields:
    compensation:
      name: Thermostat bias
      description: Added to the current temperature
      required: true
      selector:
        number:
          min: -3.5
          max: 3.5
          step: 0.1
          unit_of_measurement: "K"
